/Include/
/Lib/
/Scripts/
pyenv.cfg
run.cmd
last_file_path.ini
.vscode/
NodeSailor.spec
example network2.json
test.bat
_internal/custom_commands.json
example network test.json
.roomodes
__pycache__/
*.pyc
data/NodeSailor_settings.ini
data/custom_commands.json
example network7.json
example network6.json
data/custom_commands.json
.claude/
nul
