Include/
Lib/
Scripts/
pyenv.cfg
run.cmd
last_file_path.txt
legend_state.txt
.vscode/settings.json
NodeSailor.spec
example network2.json
test.bat
_internal/custom_commands.json
example network test.json
.roomodes
__pycache__/
*.pyc